datadir*
*.log
*.exe
*.orig
.idea
.vscode
cmd/chain33/chain33
build/chain33*
build/datadir
build/bityuan*
build/para
build/relayd
build/relayd.toml
build/*.log
build/fzm
build/guodun
build/main.sh
build/main/
build/para.sh
common/mavl/datastore
.DS_Store
common/.DS_Store
common/config/.DS_Store
executor/executor.test
logs/
build/wallet
consensus/drivers/raft/chain33_raft*
