name: build
on: [push,pull_request]

jobs:
  check_fmt:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: Intsall Golangci-lint
        run: |
          # add executables installed with go get to PATH
          # TODO: this will hopefully be fixed by
          # https://github.com/actions/setup-go/issues/14
          export PATH=${PATH}:`go env GOPATH`/bin
          go install golang.org/x/tools/cmd/goimports@v0.24.0
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.44.2
          go install mvdan.cc/sh/v3/cmd/shfmt@v3.7.0
          go install mvdan.cc/sh/v3/cmd/gosh@v3.7.0

      - name: Lint
        run: |
          bash findlargefile.sh
          make checkgofmt && make fmt_go
          make linter

  unit-test:
    name: unit-test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: set go env
        run: export PATH=${PATH}:`go env GOPATH`/bin
      - name: unit-test
        run: |
          sudo sysctl -w net.core.rmem_max=2500000
          make test

  coverage:
    name: coverage
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: set go env
        run: export PATH=${PATH}:`go env GOPATH`/bin
      - name: ut coverage
        run: |
          sudo sysctl -w net.core.rmem_max=2500000
          make coverage
      - name: cover report
        if: success()
        run: bash <(curl -s https://codecov.io/bash)

  build-with-latest-stable-go:
    strategy:
      matrix:
        os: [ ubuntu-22.04, macos-14 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - run: |
          go env
          make build


  deploy:
    name: deploy
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: set go env
        run: export PATH=${PATH}:`go env GOPATH`/bin
      - name: deploy
        run: |
          make build_ci
          make autotest dapp=all
          make docker-compose && make docker-compose-down

  test-goarch-386:
    name: Run test cases with GOARCH=386
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: make build
        env:
          GOARCH: 386

      - name: Run test in 386
        run: go test ./... -covermode=atomic
        env:
          GOARCH: 386
