# This is a basic workflow that is manually triggered
name: manually make bin for all branch

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on: [push,pull_request]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  automake:
    name: automake
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: compile binary
        run: make all-arch

      - name : Upload artifact bin
        uses: actions/upload-artifact@v4
        with:
          name: chain33-artifact
          path: |
            build/*.tar.gz
            build/*.zip
